<div class="edit-container" style="width:50%; margin: 20px auto; position: relative;">
  <h2 style="margin-bottom: 20px; border-left: 2px solid #e8aa64; padding: 10px;">本当に削除しますか？</h2>



<table class="table table-condensed">
  <div>
    <h2>削除する場合は、『削除する』ボタンをクリック。</h2>
  </div>

</table>
<%= link_to "削除する", noodle_path, method: :delete, class: 'button is-warning is-light' %>
</div>
